.gridRow {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    padding-top: 25%;
    background-color: rgb(33, 43, 194);
    border: .4rem solid pink;
    border-radius: .5rem;
}
.clicking{
    transform: scale(1:1);
    border-color: red;
    box-shadow: 0 0 10px brown;
}

.column {
    float: right;
    width: 100px;
    height: 35px;
    transition: all 1s;
    
    background-color: rgb(217, 219, 243);
    border: .4rem solid rgb(48, 43, 44);
    border-radius: .5rem;
    text-align: center;
}

.Opcolumn {
    float: right;
    width: 100px;
    height: 35px;
    background-color: rgb(64, 77, 223);
    border: .4rem solid rgb(48, 43, 44);
    border-radius: .5rem;
    text-align: center;
}

.entryField {
    float: right;
    width: 435px;
    height: 40px;
    background-color: white;
    border: .4rem solid rgb(48, 43, 44);
    border-radius: .5rem;
    float: right;
    text-align:right;
}


/* Clear floats after the columns */

.row::after {
    content: "";
    display: table;
    clear: both;
    width: 30px;
}

.cell {
    flex: 4;
    flex-wrap: wrap;
    background-color: rgb(204, 204, 204);
    border: .4rem solid black;
    border-radius: 15rem;
}

.row2 {
    float: right;
    width: 100px;
    height: 35px;
    background-color: rgb(217, 219, 243);
    border: .4rem solid rgb(221, 218, 17);
    border-radius: .5rem;
    transition: all 1s;

}

.grid {
    width: 80%;
    align-content: center;
    height: 45%;
    padding-top: 1%;
    border: .4rem solid black;
    border-radius: .5rem;
}

.html {
    font-size: 24px;
}